// out: style.css, sourcemap: true, compress: true, nib: true

// Variables
accent=#6624e2
black05=rgba(0,0,0,.05)
white05=rgba(255,255,255,.05)
white10=rgba(255,255,255,.1)
white25=rgba(255,255,255,.25)
vendors=official

// Fonts
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat Light';
  src: url('../fonts/Montserrat-Light.woff') format('woff');
  src: url('../fonts/Montserrat-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins Light'), local('Poppins-Light'),
       url('../fonts/Poppins.woff2') format('woff2'),
       url('../fonts/Poppins') format('woff');
}

// Mixins
transition() {
  transition: .25s all ease;
}

fullWidth() {
  width: 100%;
  height: 100%;
}

hidden() {
  opacity: 0;
  visibility: hidden;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

visible() {
  opacity: 1;
  visibility: visible;
}

.visible {
  opacity: 1;
  visibility: visible;
}

noSelect() {
  user-select: none;
  pointer-events: none;
}

centerItem() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Animations
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
}
@keyframes tooltipTeaser {
  0% {
  }
  25% {
    visible();
    right: 100%;
  }
  75% {
    visible();
    right: 100%;
  }
  0% {
  }
}

// General Styles
#personalize-toggle, .button, .action, .label {
  cursor: pointer;
}
::selection {
  color: white;
  background-color: accent;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body, .container, .dim {
  fullWidth();
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: 'Montserrat Light', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  text-align: center;
  font-size: 3.6rem;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 2;
}

nav, nav div, .container, .section, .sidebar, .icon-container {
  display: flex;
}

.content, .icon, nav h1, nav div {
  margin: auto;
}

nav, .sidebar {
  box-sizing: border-box;
}

nav {
  position: absolute;
  width: calc(100% - 12rem);
  height: 8rem;
  padding: 0 2rem 0 2rem;
  justify-content: space-between;
  z-index: 3;

  h1, div {
    flex: 1;
  }

  h1 {
    noSelect();
    font-size: 1.2rem;
  }

  div {
    justify-content: flex-end;
  }

  .icon-container {
    width: 4rem;
    height: 4rem;
    border: 1px solid white10;
    border-radius: 50%;
    z-index: 0;
  }
}

.container {
  transition: 1s all ease;
}

.shrink {
  hidden();
  transform: scale(.9);
}

.section {
  position: relative;
  fullWidth();

  .button {
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 1px solid white10;
    padding: 1rem 2rem;
  }
}

.flash {
    position: relative;
    overflow: hidden;

    &:after {
      z-index: 0;
      transition();
      content: "";
      centerItem();
      top: 0;
      fullWidth();
      background-color: white10;
      transform: translate(-50%, -100%);
    }

    &:hover:after {
      transform: translate(-50%, 100%);
    }
}

.content {
  text-align: center;
  width: 35%;

  img {
    width: 35%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.sidebar {
  width: 12rem;
  border-left: 1px solid white10;
  font-size: 1.2rem;
  flex-direction: column;
  background-color: #000;

  .item {
    width: 100%;
    height: 8rem;
    min-height: 8rem;
    line-height: 8rem;
    text-align: center;
    text-transform: uppercase;
    color: white25;
  }

  .label {
    position: relative;
  }

  .tooltip-container {

  .tooltip {
      animation: 4s tooltipTeaser ease;
      hidden();
      color: white25;
      position: absolute;
      top: 0;
      right: 75%;
      width: 20rem;
      height: 100%;
      background-color: white05;
      z-index: -1;
      transition();

      span img {
        animation: 1s pulse infinite;
        vertical-align: sub;
        margin: 0 .75rem;
      }

  }

  &:hover .tooltip {
    visible();
    right: 100%;
  }
}

  .important {
    font-family: 'Montserrat Light', sans-serif;
    color: accent;
    border-bottom: 1px solid white10;
  }

  .item {
    .icon {
      transition();
      filter: grayscale(1);
    }
    &:hover .icon {
      filter: grayscale(0);
    }
  }
}

.video-container {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  fullWidth();
  transform: scale(1.1);
  hidden();
  transition: 2s all ease;
  background-color: #000;

  &.open {
    visible();
    transform: scale(1);
  }

  .dim {
    position: fixed;
    top: 0;
    left: 0;
    hidden();
    z-index: 2;
  }
}

iframe {
  centerItem();
  position: fixed;
  transition: 2s all ease;
  hidden();
  z-index: 2;
  width: 1280px;
  height: 720px;
}

// Video Close Icon
.action {
  position: absolute;
  right: 0;
  width: 12rem;
  height: 8rem;
  line-height: 8rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: accent;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid white10;
  border-top: 0;
  border-right: 0;
  z-index: 3;
  background-color: #000;
}

.open {
  visible();
}

@media (max-width: 1440px) {
  .content {
    width: 50%;

    img {
      width: 50%;
    }
  }
}

@media (max-width: 1024px) {
  .content {
    width: 75%;

    img {
      width: 75%;
    }
  }

}

@media (max-width: 768px) {
  //Hide Personalize and Download
  nav div, .sidebar {
    display: none;
  }

  .content {
    width: 90%;

    img {
      width: 90%;
    }
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .content {
    width: 90%;

    img {
      display: none;
    }
  }
}

.personalize-container {
  position: absolute;
  fullWidth();
  transition: 2s all ease;
  transform: scale(1.1);
  z-index: 1;

  .section {
    margin-right: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  &.open {
    visible();
    transform: scale(1);
  }

  .dim {
    position: fixed;
    top: 0;
    left: 0;
    hidden();
    z-index: 2;
  }
}

.list {
    box-sizing: border-box;
    font-family: 'Montserrat Light';
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0 2rem;

    .fonts {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    span {
      line-height: 4rem;
    }
}

.row {
  display: flex;
  position: relative;
  margin: 0 auto 2rem;

  &:after {
    position: absolute;
    font-family: 'Montserrat Light';
    text-transform: uppercase;
    text-align: right;
    font-size: 1.4rem;
    line-height: 4rem;
    text-align: right;
    top: 0;
    left: -10rem;
    width: 9rem;
    height: 100%;
    padding-right: 1rem;
    box-sizing: border-box;

    .color& {
      content: "Color";
    }

    .decal& {
      content: "Decal";
    }

    .list& {
      content: "Font";
    }

    .grid& {
      content: "Grid View";
    }
  }

  &.list {
    width: 4*8rem + 7*1rem;
    height: 20rem;
    background-color: white05;
  }

  &.grid {
    font-family: 'Montserrat Light';
    text-transform: uppercase;
    font-size: 1.4rem;
    flex-direction: column;

    .option {
      display: flex;
      width: 4*8rem + 7*1rem;
      height: 4rem;
      line-height: 4rem;
      margin-bottom: 1rem;
      color: white10;

      .check {
        display: flex;
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;
        border: 1px solid white10;

        img {
          width: 18px;
          hidden();
          margin: auto;
        }
      }

      &.enabled {
        &.option {
          color: white;

          img {
            visible();
          }
        }
      }
    }
  }

  .swatch {
    -webkit-appearance: none;
    width: 4rem;
    height: 4rem;
    background-color: red;
    margin: 0 1rem 0 0;

    &:checked, &:active, &:focus {
      outline: 0;
    }

    &:checked {
      opacity: .5;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
